body {
    margin: 0px;
    border: 0px;
    font-family: 'Poppins', sans-serif;
}

:root {
    --grey: #f0eef1;
    --white: #fffbfb;
    --full-width: 100vw;
    --full-height: 100vh;
    --shadow-bottom: 3px 1px 20px 8px rgba(0, 0, 0, 0.1);
    --main-padding: 1rem 20rem;
    --global-border-radius: 10px
}

div.container {
    width: var(--full-width);
    height: var(--full-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.header,
div.body {
    padding: var(--main-padding);

}

div.header {
    height: calc(var(--full-height) / 15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--shadow-bottom);

}

img.user-icon {
    height: 60px;
    width: 60px;
}

div.body {
    background-color: var(--grey);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

button.add-book-button {
    border: 0px;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: var(--global-border-radius);

}

button.add-book-button:hover {
    background-color: var(--white);
}

.books-container {
    flex: 1;
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 380px);
    grid-auto-rows: 300px;
    justify-content: center;
}

.book-section {
    background-color: var(--white);
    padding: 15px 20px;
    display: grid;
    gap: 20px;
    grid-template: repeat(4, 30px) / 1fr;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: var(--shadow-bottom);
    border-radius: var(--global-border-radius);
}

.book-name {
    font-weight: bold
}

.book-read-section {
    border-radius: var(--global-border-radius);
    padding: 10px;

}

.book-read-section:hover {
    filter: brightness(90%);
}

input[type='checkbox'] {
    height: 20px;
    width: 20px;
    margin-left: 15px;
}

.book-read-section.read {
    background-color: lightgreen;
}

.book-read-section.not-read {
    background-color: yellow;
}

.book-remove-button {
    padding: 10px;
    border-radius: var(--global-border-radius);
    font-size: 1.5rem;
    background-color: red;
    border-color: var(--white);
}

.book-remove-button:hover {
    filter: brightness(80%);
}

/*dialog::backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
}*/

dialog {
    border: 0px;
    height: 350px;
    width: 300px;
    background-color: var(--grey);
    border-radius: var(--global-border-radius);
    font-size: 1.3rem;
    box-shadow: var(--shadow-bottom);
    
}

dialog>form {
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 20px;
}

dialog>form>.form-header {
    font-weight: bold;
    margin-bottom: 10px;
}

dialog>form input {
    border: 0px;
    width: 250px;
    height: 30px;
    border-radius: calc(var(--global-border-radius) / 2);
    font-size: 1rem;
    padding: 5px;
    background-color: var(--white);
}

dialog>form input:valid {
    border: 2px solid green;
}

dialog>form input:invalid {
    border: 2px solid red;

}

dialog>form>.checkbox-section,
dialog>form>.button-section {
    display: flex;
    align-items: center;
}

dialog>form>.button-section{
    width: 230px;
    justify-content: space-between;
}


dialog>form>.button-section>button {
    background-color: var(--white);
    font-size: 1.3rem;
    border-radius: calc(var(--global-border-radius) / 2);
    padding: 10px 20px;
    border: 0px;

}

dialog>form>.button-section>button:hover {
    filter: brightness(80%);
}